<app-header></app-header>
<div class="front">
<div class="title-wrapper">
  <div id="title">
    <span class="main-text">
      STARTUP
    </span>
    <span id="shadowTitle">
      STARTUP
    </span>
  </div>
</div>
<div id="subtitle">
  <span class="gradient-text">
    Where ideas come to life.
  </span>
</div> 

<app-svg></app-svg>

<div id="cardsComponent">
    <div class="card bouncing">
        <div class="text">
          <h2 class="cardTitle">StartUP Weekend 2023</h2>
          <p class="description">The StartUP Weekend is a 3-day-long event in which the participants are posed with the challenge to come up with an original idea for a start-up. See what have we prepared for you this year!</p>
          <button id="button1" class="learnMore" routerLink="/weekend23">Learn more</button>
        </div>
    </div>
    <div class="card">
      <div class="text">
        <h2 class="cardTitle">Events</h2>
        <p class="description">The StartUP Conference and Weekend events offer valuable insights into the world of entrepreneurship. Atendees can gain insights from successful entrepreneurs and industry experts.</p>
        <button id="button2" class="learnMore" routerLink="/events">Learn more</button>
      </div>
    </div>
    <div class="card">
      <div class="text">
        <h2 class="cardTitle">Our team</h2>
        <p class="description">We are a determined team, formed by university students who are driven by their passion for entrepreneurship and strive for success. Our goal is to create educational and inspiring events.</p>
        <button id="button3" class="learnMore" routerLink="/team">Learn more</button>
      </div>
    </div>
</div>

<!-- <div class="carousel-container">
  <div class="carousel-item">
    <div style="width: 960px; margin: 0 auto; padding-top: 80px; padding-bottom: 80px;"> 
      <div class="testimonial-quote group">
          <img src="http://placehold.it/120x120">
          <div class="quote-container">
              <blockquote>
                  <p>Overall, fantastic! I'd recommend them to anyone looking for a creative, thoughtful, and professional team.”</p>
              </blockquote>  
              <cite><span>Kristi Bruno</span><br>
                  Social Media Specialist<br>
                  American College of Chest Physicians
              </cite>
          </div>
      </div>    
    </div> 
    <hr style="opacity: 0.3;">
  </div>
</div> -->

<div class="description-box">
  <h2>What We Do</h2>
  <p>
    StartUP@Blagoevgrad is a student organization at the American University in Bulgaria, that organizes events with the aim of promoting the entrepreneurial spirit and supporting the development of the startup ecosystem in the country. The focus of these events is to bring together successful entrepreneurs and driven students who aspire to gain insights into the realities of building a respectable business.
  </p>
</div>

<div class="testimonial-container">
  <div class="testimonial-content">
    <div class="testimonial-photo-container">
      <img src="assets/testimonials/hristopopov.jpg" alt="Testimonial photo" class="testimonial-photo" />
    </div>
    <div class="testimonial-text-container">
      <p class="testimonial-quote">Thank you for the fantastic work the StartUP team did for the event. The organisation was perfect, and the participants' energy was contagious. Events like this make me very hopeful about the future of Bulgaria. Great job!”</p>
      <p class="testimonial-author">Christo Popov, Entrepreneur</p>
    </div>
  </div>
</div>



<!--
<div id="slider-wrapper">
  <div>
    <input checked type="radio" name="slide" class="control" id="Slide1" />
    <label for="Slide1" id="s1">
    </label>
    <input type="radio" name="slide" class="control" id="Slide2" />
    <label for="Slide2" id="s2"></label>
    <input type="radio" name="slide" class="control" id="Slide3" />
    <label for="Slide3" id="s3"></label>
    <input type="radio" name="slide" class="control" id="Slide4" />
    <label for="Slide4" id="s4"></label>
    <div class="overflow-wrapper">
      <div class="slide" style="width: 100%;"> 
        <div class="testimonial-quote group">
            <img src="http://placehold.it/120x120">
            <div style="width: 80%;" class="quote-container">
                <blockquote>
                    <p style="padding-bottom: 1rem;">Thank you for the fantastic work the StartUP team did for the event. The organisation was perfect, and the participants' energy was contagious. Events like this make me very hopeful about the future of Bulgaria. Great job!”</p>
                </blockquote>  
                <cite><span>Christo Popov</span><br>
                    Social Media Specialist<br>
                </cite>
            </div>
        </div>    
      </div> 
      <div class="slide" style="width: 100%; margin: 0 auto;"> 
        <div class="testimonial-quote group">
            <img src="http://placehold.it/120x120">
            <div style="width: 80%;" class="quote-container">
                <blockquote>
                    <p style="padding-bottom: 1rem;">Thank you for the invitation, StartUP team! This year’s conference was a blast!”</p>
                </blockquote>  
                <cite><span>Hristo Boyadzhiev</span><br>
                    Social Media Specialist<br>
                </cite>
            </div>
        </div>    
      </div> 
      <div class="slide" style="width: 100%; margin: 0 auto;"> 
        <div class="testimonial-quote group">
            <img src="http://placehold.it/120x120">
            <div style="width: 80%;" class="quote-container">
                <blockquote>
                    <p style="padding-bottom: 1rem;">Overall, fantastic! I'd recommend them to anyone looking for a creative, thoughtful, and professional team.”</p>
                </blockquote>  
                <cite><span>Kristi Bruno</span><br>
                    Social Media Specialist<br>
                </cite>
            </div>
        </div>    
      </div> 
      <div class="slide" style="width: 100%; margin: 0 auto;"> 
        <div class="testimonial-quote group">
            <img src="http://placehold.it/120x120">
            <div style="width: 80%;" class="quote-container">
                <blockquote>
                    <p style="padding-bottom: 1rem;">Overall, fantastic! I'd recommend them to anyone looking for a creative, thoughtful, and professional team.”</p>
                </blockquote>  
                <cite><span>Kristi Bruno</span><br>
                    Social Media Specialist<br>
                </cite>
            </div>
        </div>    
      </div> 
    </div>
  </div>
</div>
-->

<hr style="opacity: 0.3;">

<div class="slider">
	<div class="slide-track">
    <div class="slide">
			<img style="height: 6.25rem; width: auto" />
		</div>
		<div class="slide" style="background: white">
			<img src="./assets/landing-page/anomaly.png" style="height: 6.25rem; width: auto" />
		</div>
		<div class="slide" style="background: white">
			<img src="./assets/landing-page/ardes.png" style="height: 6.25rem; width: auto" />
		</div>
		<div class="slide" style="background: white">
			<img src="./assets/landing-page/aurubis.jpg" style="height: 6.25rem; width: auto" />
		</div>
		<div class="slide" style="background: white">
			<img src="./assets/landing-page/hp.png" style="height: 6.25rem; width: auto" />
		</div>
        <div class="slide" style="background: white">
			<img style="background: white" src="./assets/landing-page/indeavr.png" style="height: 6.25rem; width: auto" />
		</div>
		<div class="slide" style="background: white">
			<img src="./assets/landing-page/limechain png.png" style="height: 6.25rem; width: auto" />
		</div>
		<div class="slide" style="background: white">
			<img src="./assets/landing-page/officernd.png" style="height: 6.25rem; width: auto" />
		</div>
		<div class="slide" style="background: white">
			<img src="./assets/landing-page/out2bound.png" style="height: 6.25rem; width: auto" />
		</div>
        <div class="slide" style="background: white">
			<img src="./assets/landing-page/karting-logo.png" style="height: 6.25rem; width: auto" />
		</div>
	</div>
</div>

<div id="footer">
  StartUP@Blagoevgrad 2023 | All rights reserved.
</div>
</div>