g {
    fill: none;
    stroke-width: 0.4px;
    stroke: url(#gradient_svg);
}

#container {
    height: 35vh;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

#title {
    font-size: 10em;
    padding-top: 5%;
    padding-left: 5%;
}

#subtitle {
    font-size: 80px;
}

.main-text {
    display: block;
    position: relative;
    color: #fff8ef;
    background: linear-gradient(to right, 
        RGBA(253,207,64), 
        RGBA(237,154,62) 16.67%, 
        RGBA(217,91,96) 33.33%, 
        RGBA(164,63,144) 50%, 
        RGBA(44,137,156) 66.67%, 
        RGBA(76,65,140) 83.33%);
    -webkit-background-clip: text; 
    -webkit-text-stroke: 0.05em transparent;
    width: 70%;
}

.gradient-text {
    padding-left: 5%;
    position: absolute;
    display: inline;
    background: linear-gradient(to right, RGBA(253,207,64,0.6), RGBA(237,154,62,0.6), RGBA(217,91,96,0.6), RGBA(164,63,144,0.6), RGBA(44,137,156,0.6), RGBA(76,65,140,0.6)); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
}

#shadowTitle {
    top: 3%;
    left: 1.3%;
    padding-top: 5%;
    padding-left: 5%;
    z-index: -1;
}
body {
    margin: 0;
    background-color: #fff8ef;
}


@media (max-width: 1200px) {
    #title {
      font-size: 6em;
    }
    #subtitle {
      font-size: 48px;
    }
  }
  
  @media (max-width: 992px) {
    #title {
      font-size: 4em;
    }
    #subtitle {
      font-size: 36px;
    }
  }
  
  @media (max-width: 768px) {
    #title {
      font-size: 3em;
    }
    #subtitle {
      font-size: 24px;
    }
  }
  
  @media (max-width: 576px) {
    #title {
      font-size: 2em;
    }
    #subtitle {
      font-size: 18px;
    }
  }
  
