<!-- startup.component.html -->
<svg #svgElem width="100%" viewBox="0 0 500 150">
    <defs>
        <linearGradient id="gradient_svg" x1="0" y1="0" x2="100%" y2="0%">
            <stop offset="0%" stop-color="#fdbd01" />
            <stop offset="12.5%" stop-color="#e25215" />
            <stop offset="25%" stop-color="#dd1c32" />
            <stop offset="37.5%" stop-color="#c0126a" />
            <stop offset="50%" stop-color="#a33c8e" />
            <stop offset="62.5%" stop-color="#334c93" />
            <stop offset="75%" stop-color="#2389bd" />
            <stop offset="87.5%" stop-color="#2bb1a8" />
        </linearGradient>
    </defs>
</svg>